backend:
  listen_port: 8080
  bind_host: 0.0.0.0

database:
  master:
    host: postgres-master
    port: 5432
    user: app_user
    password: app_password
    dbname: app_db
  replicas:
    - host: postgres-slave-1
      port: 5432
      user: app_user
      password: app_password
      dbname: app_db

redis:
  host: redis
  port: 6379
  password: ""
  db: 0

redis_dialogs:
  host: redis-dialogs
  port: 6379
  password: ""
  db: 0

logs:
  level: debug
  sentry_sdk: xxxxx

shard_count: 4
