backend:
  listen_port: 8080
  bind_host: 0.0.0.0

database:
  master:
    host: postgres-master
    port: 5432
    user: app_user
    password: app_password
    dbname: app_db
  replicas:
    - host: postgres-slave-1
      port: 5432
      user: app_user
      password: app_password
      dbname: app_db
    - host: postgres-slave-2
      port: 5432
      user: app_user
      password: app_password
      dbname: app_db
logs:
  level: debug
  sentry_sdk: xxxxx
